.custom-bg {
    height: calc(100dvh - 83px);
    /* background: linear-gradient(160deg, var(--black-tint-30), var(--primary-tint-30));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; */
    backdrop-filter: blur(10px);
}

.field {
    margin-bottom: 10px;

    &:not(:first-of-type) {
        margin-top: 1rem;
    }

}