<section class="p-2.5 custom-box-shadow rounded-xl w-72 bg-white">
  <div class="img-container">
    <img
      src="https://iplaceholder.com/600x200/eee/969696/png?font=Verdana"
      alt="event image"
      class="rounded-lg w-full object-cover h-32"
    />
  </div>

  <article>
    <p class="font-bold mt-5 text-gray-900">{{ event.name }}</p>

    <p class="text-gray-700 mt-1.5 text-sm">
      @if (event.type === 'one-time' && event.start_date) {
        <span>{{ format_date_range(event.start_date, event.duration_in_days!) }}</span>
      } @else if (event.type === 'recurring') {
        <span>{{ event.month }}</span>
      }
      | <span>{{ event.venue }}</span>
    </p>
  </article>

  <div class="actions flex-center gap-2 mt-3.5">
    @if (event_tag === 'upcoming') {
      <button class="my-button secondary w-full">start registrations</button>
      <button class="my-button secondary red">delete</button>
    } @else if (event.type === 'recurring') {
      <button class="my-button secondary w-full">edit</button>
    } @else {
      <button class="my-button secondary w-full">view</button>
    }
  </div>
</section>
