<section class="heros h-[calc(100dvh-50px)]">
    <article class="block px-5 max-md:px-3 py-2.5 w-auto">
        <p class="mt-5 mb-2 text-2xl font-medium">Hey there, </p>
        <p class="capitalize mb-3.5 text-xl">kindly register for December Campout with LP10</p>
        <a href="/convention-2025" 
            class="block w-fit pt-2.5 pb-2.5 px-2.5 bg-primary text-white rounded-[5px]"
        >Register now</a>
    </article>
    <div class="image-container image-preset"></div>
    <div class="image-container-1 image-preset"></div>
</section>