.heros {
    display: grid;
    gap: 10px;
    grid-template-areas: "text-content right"
        "down right";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 58%;

    &>article {
        grid-area: text-content;
        grid-row: auto;
    }

    .image-preset {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .image-container {
        grid-area: right;
        background-image: linear-gradient(138deg, rgb(255, 255, 255) 230px, rgb(255, 255, 255, 0.4) 80px), url('/handsome_lp10_child.webp');
        background-repeat: no-repeat;
    }

    .image-container-1 {
        grid-area: down;
        background-image: linear-gradient(rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4)), url('/teens.webp');
        background-position: 40% 80%;
    }
}

@media screen and (max-width: 769px) {
    .heros {
        grid-template-areas: "text-content text-content"
        "down right";
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto 1fr;

        .image-container {
            grid-area: right;
            background-image: linear-gradient(rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4)), url('/handsome_lp10_child.webp');
            background-repeat: no-repeat;
        }
    }
}