<section class="heros h-[calc(100dvh-50px)]">
    <article class="block px-5 py-10 w-auto">
        <p class="mt-5 mb-2 text-size-heading-1.5 ">Hey there, </p>
        <p class="capitalize text-size-normal mb-3.5">kindly register for RCCG Convention 2025 with LP10</p>
        <a href="/convention-2025" 
            class="block w-fit pt-[10px] pb-[10px] px-[10px] bg-primary text-white rounded-[5px]"
        >Register now</a>
    </article>
    <div class="image-container image-preset"></div>
    <div class="image-container-1 image-preset"></div>
</section>