<section class="heros">
    <article class="block h-[80svh] text-center px-5 py-10">
        <p class="my-5 text-size-heading-1.5 ">Hey there, </p>
        <p class="capitalize text-size-normal">kindly register for RCCG Convention 2025 with LP10</p>
    </article>
    <div class="slider-container">
        <a href="/convention-2025" 
            class="block w-fit pt-[10px] pb-[10px] px-[10px] bg-primary text-white rounded-[5px] ms-auto me-auto"
        >Register now</a>
        <div class="flex swiper-pagination"></div>
    </div>
</section>