<header class="flex-center justify-between pt-3">
  <div class="left">
    <h2>Manage Events</h2>
    <p class="mt-2">Welcome!</p>
  </div>
  <button class="my-button flex-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <rect width="24" height="24" fill="none" />
      <path
        fill="currentColor"
        d="M12 4c4.411 0 8 3.589 8 8s-3.589 8-8 8s-8-3.589-8-8s3.589-8 8-8m0-2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5 9h-4V7h-2v4H7v2h4v4h2v-4h4z"
      />
    </svg>
    <span>create new event</span>
  </button>
</header>

<mat-tab-group mat-stretch-tabs="false" class="mt-6">
  <mat-tab label="Upcoming Events">
    <section class="flex gap-5 my-5">
      @for (event of events(); track $index) {
      <app-event [event]="event" event_tag="upcoming" />
      }
    </section>
  </mat-tab>
  <mat-tab label="Past Events">
    <section class="flex gap-5 my-5">
      @for (event of events(); track $index) { @if (event.type != 'recurring') {
      <app-event [event]="event" />
      } }
    </section>
  </mat-tab>
  <mat-tab label="Recurring Events">
    <section class="flex gap-5 my-5">
      @for (event of events(); track $index) { @if (event.type === 'recurring')
      {
      <app-event [event]="event" />
      } }
    </section>
  </mat-tab>
</mat-tab-group>
