<section class="pt-20">
  <div class="content-container flex-center flex-col gap-3 px-5">
    @if (status() === 'success') {
    <div class="aspect-square w-16 flex-center justify-center">
      <img
        src="successful-anim.gif"
        alt="successful Payment animation"
        class="object-cover"
      />
    </div>
    <!-- IM HERE -->
    <h2>Registration Complete</h2>
    <p class="text-center text-black-2">
      Payment successfully completed! Please ensure to download a copy of your
      registration slip here!
    </p>
    <button
      class="my-5 flex items-center gap-2 capitalize border-[1.5px] border-primary p-2 px-4 outline outline-primary outline-offset-2 hover:outline-offset-0 btn transition-all duration-300 text-[15px]"
      routerLink="/event-ticket"
    >
      <span>download ticket</span>
    </button>
    <!-- on the ticket, insert qr code that when scanned, confirms payment status -->
    } @else if(status() === 'failed') {
    <div class="aspect-square w-10 flex-center justify-center">
      <img
        src="unsuccessful-anim.gif"
        alt="unsuccessful Payment animation"
        class="object-cover"
      />
    </div>
    <h2>Payment Failed!</h2>
    <p class="text-center text-black-2">
      You can choose to
      <a href="/convention-2025" class="underline hover:text-black"
        >start all over again</a
      >
      or <a href="/help" class="underline hover:text-black">report error.</a>
    </p>
    }
  </div>
</section>
