.nav-bar {
    padding-inline: 20px 40px;
    padding-block: 5px;
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.6);

    & a.logo img {
        object-fit: cover;
        object-position: center;
    }
}

.nav-bar-container {
    --transition-value: transform 400ms ease-in-out;

    z-index: 2;
    background-color: rgb(180, 180, 180, 0.6);
    height: calc(100dvh - 50px);
    width: 100%;
    backdrop-filter: blur(2px);
    will-change: transform;
    transform: translateX(100%);
    position: fixed;
    top: 50px;
    right: 0;
    transition: var(--transition-value) 150ms;

    .expanded-nav-bar {
        padding-inline: 20px;
        height: 100%;
        position: absolute;
        right: 0;
        width: 40%;
        background-color: #fff;
        align-items: normal;
        will-change: transform;
        transform: translateX(100%);
        transition: var(--transition-value);
    }
}

.expanded-nav-bar nav {
    a {
        border-bottom: 1px solid transparent;
        transition: border-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    & a:hover {
        border-color: var(--black);
    }
}

.nav-bar-container.active {
    transform: translateX(0);

    .expanded-nav-bar {
        transform: translateX(0);
    }
}

@media screen and (max-width: 465px) {
    .nav-bar-container .expanded-nav-bar {
        width: 100%;
    }
}