.img-bg {
    height: 93dvh;
    background: linear-gradient(rgb(0,0,0,0.7)), url('/flier.webp');
    background-size: cover;

    & .content-container {
        width: 65%;
        background-color: rgb(255,255,255,0.95);
        backdrop-filter: blur(2px);
    }
}

.bg-inherit {
    background-color: inherit;
}

/* New visually hidden class to replace the old .hidden-print behavior */
.hidden-print {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    pointer-events: none; 
    z-index: -1; 
}