<div class="img-bg flex hidden-print justify-center items-center min-h-screen" #ticket>
  <section class="content-container p-5 rounded-xl max-w-full flex flex-col items-center">
    <p class="text-center leading-7 font-bold text-xl">{{ event()!.name }}</p>
    <p class="mt-3.5 mb-0 text-center">
      <span>{{ event()!.start_date }}</span>
      <!-- |
      <span>{{ event().start_date.toLocaleTimeString("en-US") }}</span> -->
    </p>
    <p class="mb-5 text-center">{{ event()!.venue }}</p>

    <!-- qr code to scan for event registration validation -->
     <div class="qr-code" #qr_code></div>
    <!-- <qrcode
      [qrdata]="transaction_ref()"
      [errorCorrectionLevel]="'M'"
      [width]="210"
    ></qrcode> -->

    <div class="mt-5 text-[14px]"><span>&commat;</span>lp10juniorchurch</div>
  </section>
</div>

<div class="h-[70dvh] flex-col justify-center items-center py-5">
  <h1 class="text-center" #text_to_display>One moment please...</h1>
  <div
    class="mt-7 flex justify-center items-center"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>
