@if (userNavBarNeeded() || authPage()) {
<div>
  <app-user-nav-bar />
</div>
} @else {
<div>
  <header class="flex-center justify-between pr-3.5 bg-white/60 backdrop-blur-xs shadow">
    <a href="/" class="logo h-10 flex-center">
      <img src="logo.svg" alt="LP10 Logo" />
      <span>lp10</span>
    </a>

    <div class="right flex-center gap-3.5">
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <rect width="24" height="24" fill="none" />
          <path
            fill="currentColor"
            d="M5.5 18.77q-.213 0-.356-.145T5 18.268t.144-.356t.356-.143h1.116V9.846q0-1.96 1.24-3.447T11 4.546V4q0-.417.291-.708q.291-.292.707-.292t.709.292T13 4v.546q1.904.365 3.144 1.853t1.24 3.447v7.923H18.5q.213 0 .356.144q.144.144.144.357t-.144.356t-.356.143zm6.497 2.615q-.668 0-1.14-.475t-.472-1.14h3.23q0 .67-.475 1.142q-.476.472-1.143.472M7.616 17.77h8.769V9.846q0-1.823-1.281-3.104T12 5.462t-3.104 1.28t-1.28 3.104z"
          />
        </svg>
      </button>

      <button class="p-2.5 cursor-pointer" [matMenuTriggerFor]="profileMenu">
        <img
          src="/user.svg"
          alt="user profile passport"
          class="aspect-square h-9 object-cover rounded-full"
        />
      </button>

      <button
        (click)="toggleNavBarVisibility()"
        class="hidden max-md:inline-flex"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M4 8.5h16m-16 7h16"
          />
        </svg>
      </button>
    </div>
  </header>

  <div class="side-nav md:custom-box-shadow" #mobile_nav_bar>
    <nav
      class="inline-flex gap-5 max-md:flex max-md:flex-col max-md:mx-auto max-md:w-3/5"
    >
      @for (nav of sub_navbar_menus; track $index) {
      <p
        [routerLink]="nav.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="capitalize text-[90%]"
        (click)="toggleNavBarVisibility()"
      >
        {{ nav.label }}
      </p>
      }
    </nav>
  </div>

  <mat-menu #profileMenu="matMenu" class="py-1.5">
    <button class="w-full logout_btn py-2" (click)="logout()">logout</button>
  </mat-menu>
</div>
}
