.nav-bar {
    padding-inline: 20px 40px;
    padding-block: 5px;
    backdrop-filter: blur(1px);
    background-color: rgb(255, 255, 255, 0.6);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    & a.logo img {
        object-fit: cover;
        object-position: center;
    }
}

.nav-bar-container {
width: 100%;
height: calc(100dvh - 60px);
backdrop-filter: blur(2px);
background-color: rgb(255,255,255, 0.6);
position: sticky;
top: 60px;
right: 0;
z-index: -1;

.expanded-nav-bar {
    /* padding: 15px; */
    position: absolute;
    right:0;
    width: 70%;
    transform: translateX(100%);
    transition: transform 400ms ease;
}
}

.nav-bar-container.active {
z-index: 1;

.expanded-nav-bar {
    transform: translateX(0);
}
}

.opened-nav-bar {
    transform: translateX(40%);
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 1;
}

.opened-nav-bar.active {
    transform: translateX(0);
}

.opened-nav-bar nav {
    flex-direction: column;
    margin-block: 20px;
    margin-inline: auto;

    a {
        display: block;
        padding-block: 10px ;
    }
}

/* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */