<!-- scaling:
 - small screen : 4.5
 - large screen : 2.25 -->

<section class="nav-bar my-flex justify-between">
    <a href="/" class="logo h-10"><img src="logo.svg" alt="LP10 Logo"></a>

    <span class="inline-flex cursor-pointer" (click)="toggleNavBar($event)">
        <svg class="pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <rect width="24" height="24" fill="none" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M10 6h10M4 12h16M7 12h13M4 18h10" />
        </svg>
    </span>
</section>

<div class="nav-bar-container" (click)="toggleNavBar($event)" #navcontainer>
    <section class="expanded-nav-bar w-full my-flex flex-col gap-5 justify-start">
        <nav>
            @for (link of links; track link) {
            <a href="" rel="noopener" class="capitalize block py-[10px] pr-5 my-[7.5px]">{{link}}</a>
            }
        </nav>

        <div class="bottom-pane">
            <a href="/support" class="my-flex my-2">
                <span class="me-2">Support</span>
                <iconify-icon icon="fluent:person-support-20-regular" width="20" height="20"></iconify-icon>
            </a>
            <form class="ml-auto mx-auto search-form my-flex border py-2 pl-2 pr-4 ">
                <input type="text" name="" id="" placeholder="Search" class="h-full bg-inherit">
                <button type="submit" class="p-1 my-flex" aria-label="Search"><iconify-icon icon="iconamoon:search" width="20"
                        height="20"></iconify-icon></button>
            </form>
        </div>
    </section>
</div>