.opened-nav-bar {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 30px 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}

.opened-nav-bar nav {
    flex-direction: column;
    margin-block: 20px;
    margin-inline: auto;

    a {
        display: block;
        padding-block: 10px ;
    }
}

/* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */