.nav-bar {
    padding-inline: 20px 40px;
    padding-block: 5px;
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.6);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    & a.logo img {
        object-fit: cover;
        object-position: center;
    }
}

.nav-bar-container {
    background-color: rgb(180, 180, 180, 0.6);
    height: calc(100dvh - 50px);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 50px;
    right: 0;

    .expanded-nav-bar {
        padding-inline: 20px;
        height: 100%;
        position: absolute;
        right: 0;
        width: 40%;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 400ms ease;
        align-items: normal;
    }
}

.expanded-nav-bar nav {
    a {
        border-bottom: 1px solid transparent;
        transition: border-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    & a:hover {
        border-color: var(--black);
    }
}

.nav-bar-container.active {
    z-index: 2;

    .expanded-nav-bar {
        transform: translateX(0);
    }
}

.opened-nav-bar {
    transform: translateX(40%);
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 1;
}

.opened-nav-bar.active {
    transform: translateX(0);
}

.opened-nav-bar nav {
    flex-direction: column;
    margin-block: 20px;
    margin-inline: auto;

    a {
        display: block;
        padding-block: 10px;
    }
}

@media screen and (max-width: 465px) {
    .nav-bar-container .expanded-nav-bar {
        width: 100%;
    }
}