<!-- <section class="progress-bar-container my-flex">
    <div class="step" aria-label="step 1 indicator">
        <span class="num">1</span>
    </div>
    <mat-progress-bar mode="determinate" [value]="progress_value_step_1"></mat-progress-bar>
    <div class="step" aria-label="step 2 indicator">
        <span class="num">2</span>
    </div>
    <mat-progress-bar mode="determinate" [value]="progress_value_step_2"></mat-progress-bar>
    <div class="step" aria-label="step 3 indicator">
        <span class="num">3</span>
    </div>
</section> -->

<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="registration_data" editable="false">
        <ng-template matStepLabel>Registration</ng-template>
        <div class="px-5">
            <section class="form w-11/12 non-laptop-screen:w-full mx-auto" #registrationform>
                <div class="origin-group-container">
                    <h3 class="capitalize subtitle-heading">Origin</h3>
                    <article
                        class="origin-container w-full my-flex justify-between px-[10px] phone-screen:flex-col phone-screen:items-start phone-screen:gap-2 mb-2">
                        <label for="lp10" class="my-flex cursor-pointer">
                            <input type="radio" name="origin" id="lp10" class="custom-radio-button" (change)="onLp10Selection()"
                                checked>
                            Lagos Province 10
                        </label>
                        <label for="non-lp10" class="my-flex cursor-pointer">
                            <input type="radio" name="origin" id="non-lp10" class="custom-radio-button"
                                (change)="onNonLp10Selection()">
                            Other Provinces
                        </label>
                        <label for="others" class="my-flex cursor-pointer">
                            <input type="radio" name="origin" id="others" class="custom-radio-button" (change)="onNonRccg()">
                            Non-RCCG
                        </label>
                    </article>
                    <article class="origin-specifics w-full">
                        <form name="lp10" [className]="origin === 'lp10' ? '' : 'hidden'" [formGroup]="lp10_origin_data">
                            <section class="row">
                                <mat-form-field>
                                    <mat-label>Zone</mat-label>
                                    <mat-select formControlName="zone">
                                        <mat-option>Select your zone</mat-option>
                                        <mat-option value="Sunshine">Sunshine</mat-option>
                                        @for (zone of zones(); track $index) {
                                            <option [value]="">{{ zone }}</option>
                                            }
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Parish</mat-label>
                                    <input matInput type="text" placeholder="e.g. New Life Parish" formControlName="parish">
                                </mat-form-field>
                            </section>
                        </form>
                        <form name="non-lp10" [formGroup]="nonlp10_origin_data"
                            [className]="origin === 'non-lp10' ? 'w-full' : 'hidden'">
                            <section class="row">
                                <label for="region">
                                    region
                                    <input type="number" name="region" id="region" placeholder="Your region" class="my-input"
                                        formControlName="region">
                                </label>
                                <label for="province">
                                    province
                                    <input type="text" name="province" id="province" placeholder="Your province"
                                        class="my-input" formControlName="province">
                                </label>
                            </section>
                        </form>
                        <form name="others" [className]="origin === 'non-rccg' ? 'w-full' : 'hidden'"
                            [formGroup]="nonrccg_origin_data">
                            <section class="row">
                                <label for="denomination">
                                    denomination
                                    <input type="text" id="denomination" placeholder="Type here"
                                        class="my-input bg-form-field-background-color" formControlName="denomination">
                                </label>
                                <label for="details">
                                    important details?
                                    <input type="text" id="details" placeholder="Type here"
                                        class="my-input bg-form-field-background-color" formControlName="details">
                                </label>
                            </section>
                        </form>
                    </article>
                </div>
                <div class="registration-breakdown-group-container">
                    <h3 class="capitalize subtitle-heading">registering</h3>
                    <section
                        [className]="(deactivate_registration_breakdown ? 'opacity-50 pointer-events-none' : '') + 'registration-breakdown-group my-flex justify-between'">
                        <section class="number-gui">
                            <age-category [category]="'teenager'" />
                            <age-category [category]="'children'" />
                        </section>
                        <span class="block w-6 h-[2px] bg-form-label-color" aria-label="little-horizantal-rule"></span>
                        <article class="text-form-label-color text-size-normal" label="fee display">
                            <span class="symbol">N</span>
                            <span id="amount"
                                aria-label="this is the amount it costs based on your selection of age categories for registration">
                                {{ total_fee().toFixed(2) }}
                            </span>
                            <span class="currency"></span>
                        </article>
                    </section>
                </div>
                <form [formGroup]="registration_data" (ngSubmit)="saveData()"
                    [className]="current_registration() ? '' : 'opacity-50 pointer-events-none'">
                    <h3 class="capitalize subtitle-heading">
                        personal information
                        <span class="dot relative text-form-field-placeholder-color">{{ current_registration() }}</span>
                    </h3>
                    <section class="row">
                        <mat-form-field class="field">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="e.g. John" formControlName="first_name" type="text">
                        </mat-form-field>
                        <!-- <div class="field">
                            <label for="first-name">first name</label>
                            <input type="text" placeholder="e.g. John" id="first-name" formControlName="first_name">
                        </div> -->
                        <mat-form-field class="field">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="e.g. Doe" formControlName="last_name" type="text">
                        </mat-form-field>
                        <!-- <div class="field">
                            <label for="last-name">last name</label>
                            <input type="text" placeholder="e.g. Doe" id="last-name" formControlName="last_name">
                        </div> -->
                    </section>
                    <section class="row">
                        <div class="field">
                            <label for="gender">gender</label>
                            <div class="my-flex gap-8">
                                <label for="male" class="my-flex cursor-pointer">
                                    <input type="radio" name="gender" class="custom-radio-button" id="male"
                                        (blur)="setGender($event)" #gender>male
                                </label>
                                <label for="female" class="my-flex cursor-pointer">
                                    <input type="radio" name="gender" class="custom-radio-button" id="female"
                                        (blur)="setGender($event)" #gender>female
                                </label>
                            </div>
                        </div>
                        <mat-form-field class="field">
                            <mat-label>Age</mat-label>
                            <input matInput placeholder="e.g. 19" min="5" formControlName="age" type="number">
                        </mat-form-field>
                        <!-- <div class="field">
                            <label for="age">age</label>
                            <input type="number" placeholder="e.g. 19" id="age" min="5" formControlName="age">
                        </div> -->
                    </section>
                    <section class="row">
                        <mat-form-field class="field">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="e.g. test@gmail.com" formControlName="email" type="email">
                        </mat-form-field>
                        <!-- <div class="field">
                            <label for="email">email</label>
                            <input type="email" placeholder="e.g. test@gmail.com" id="email" formControlName="email">
                        </div> -->
                    </section>
                    <button type="submit" class="block w-full py-3 border-[2px] border-orange-1 bg-orange-4 rounded-md" matStepperNext>{{
                        total_number_registering() > 1 ? 'Save Data' : 'Submit' }}</button>
                </form>
            </section>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Preview</ng-template>
        <section class="w-full px-[5px]" #registrationpreview>
            <table class="preview-registered-persons-table w-full">
                <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>gender</th>
                    <th>zone</th>
                    <th>parish</th>
                </tr>
                @for (person of reg_data_service.fetch_all_registered_persons_records(); track $index) {
                <tr>
                    <td>{{ person.first_name + ' ' + person.last_name }}</td>
                    <td>{{ person.year_of_birth }}</td>
                    <td>{{ person.gender }}</td>
                    <td>{{ person.zone }}</td>
                    <td>{{ person.parish }}</td>
                </tr>
                }
            </table>
        
            <button type="button" class="block w-full py-2 my-5 border-[2px] border-orange-1 bg-orange-4" mat-button matStepperNext>Proceed To Payment</button>
        </section>
    </mat-step>
</mat-horizontal-stepper>
