.progress-bar-container {
    max-width: 60%;
    margin-inline: auto;
    margin-bottom: 24px;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .step::after {
        content: '';
        position: absolute;
        text-transform: capitalize;
        opacity: 0.8;
        font-size: 90%;
        left: -50%;
        bottom: -50%;
        transform: translate(-10%, 20%);
    }

    .step:nth-of-type(1)::after {
        content: 'registration';
    }

    .step:nth-of-type(2)::after {
        content: 'preview';
    }

    .step:nth-of-type(3)::after {
        content: 'payment';
    }

    .step .num {
        padding: 5px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    mat-progress-bar {
        background-color: #0005;
    }
}

.cdk-overlay-pane {
    /* this is the select option pane when open */
    background-color: #fff;
}

.custom-radio-button {
    @apply outline-[1.5px] outline outline-orange-1 outline-offset-[3.5px];

    margin-right: 13.5px;
    height: calc(1rem - 6.5px);
    aspect-ratio: 1;
    appearance: none;
    background-color: transparent;
    border-radius: 50%;
    transition: outline-color 200ms, background-color 200ms;
}

.custom-radio-button:checked {
    @apply outline-orange-1 bg-orange-1;
}

.origin-specifics {
    margin-top: 8px;
}

.my-input {
    @apply bg-form-field-background-color;

    display: block;
    border-radius: 5px;
    padding: 5px 1rem;
}

.origin-specifics form label {
    @apply text-form-label-color;

    flex: 1 0 40%;
    line-height: 1.875rem;
    text-transform: capitalize;

    & * {
        width: 100%;
    }

    & input[type="text"]::placeholder {
        @apply text-form-field-placeholder-color;
    }
}

.dot {
    margin-left: 30px;
}

.dot::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    aspect-ratio: 1;
    width: 6px;
    border-radius: 50%;
    background-color: var(--form-field-placeholder-color);
}

form .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 10px;
}

form .row .field {
    flex: 1 0 40%;

    &>* {
        width: 100%;
    }

    & label {
        display: block;
        text-transform: capitalize;
        margin-block: 2.5px 8px;
    }

    & input:not([type="radio"]) {
        /* padding: 8px; */
        /* border-radius: 5px; */
        /* background-color: var(--form-field-background-color); */
    }

    & input::placeholder {
        color: var(--black-4);
    }
}

.subtitle-heading {
    margin-bottom: 8px;
}

section.form>div,
section.form>form {
    margin-bottom: 32px;
}

.preview-registered-persons-table {

    th {
        text-transform: capitalize;
        padding-inline: 5px;
    }

    tr {
        vertical-align: top;
        border-bottom: 1px solid #000;
    }

    tr td {
        text-align: center;
    }
}

/* Phone Screen Value from tailwind config */
@media screen and (max-width: 465px) {
    form .row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    form .row .field {
        margin-bottom: 0;
    }

}