.main-container {
    background-color: rgb(255, 255, 255, 0.95);
    position: relative;
    z-index: 1;
}

.progress-bar-container {
    width: 100%;
    max-width: 80dvw;
    padding-inline: 10%;
    padding-block: 1.5rem;
    margin-inline: auto;
    margin-bottom: 1.5rem ;
    position: sticky;
    top: 50px;
    z-index: 2;
    backdrop-filter: blur(2.5px);
    background-color: rgb(255, 255, 255, 0.6);

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .step.active,
    .step.completed {
        /* opacity: 1; */

        .num {
            background-color: var(--black);
        }
    }

    .step::after {
        content: '';
        position: absolute;
        text-transform: capitalize;
        opacity: 0.8;
        font-size: 80%;
        bottom: -50%;
        transform: translate(0, 20%);
    }

    .step:nth-of-type(1)::after {
        content: 'registration';
    }

    .step:nth-of-type(2)::after {
        content: 'preview';
    }

    .step:nth-of-type(3)::after {
        content: 'payment';
    }

    .step .num {
        padding: 5px;
        width: 30px;
        font-size: 80%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: var(--black-tint-20);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-blend-mode: color;
    }
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    /* this is the padding-inline size */
    gap: 20px;
    transition: transform 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.page {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
}

.custom-radio-button {
    margin-right: 13.5px;
    width: calc(1rem - 6.5px);
    aspect-ratio: 1 / 1;
    height: calc(1rem - 6.5px);
    appearance: none;
    background-color: transparent;
    border-radius: 50%;
    outline: 1.5px solid var(--primary);
    outline-offset: 3.5px;
    transition: outline-color 200ms, background-color 200ms;
}

.custom-radio-button:checked {
    outline-color: var(--primary);
    background-color: var(--primary);
}

.origin-specifics {
    margin-top: 20px;
}

.my-input {
    display: block;
    border-radius: 5px;
    padding: 5px 1rem;
}

.origin-specifics form label {
    flex: 1 0 40%;
    line-height: 1.875rem;
    text-transform: capitalize;

    & * {
        width: 100%;
    }

    & input[type="text"]::placeholder {
        /* @apply text-form-field-placeholder-color; */
    }
}

.dot {
    margin-left: 30px;
}

.dot::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    aspect-ratio: 1;
    width: 6px;
    border-radius: 50%;
    background-color: var(--form-field-placeholder-color);
}

form .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 10px;
}

form .row .field {
    flex: 1 0 40%;

    &>* {
        width: 100%;
    }

    & label {
        display: block;
        text-transform: capitalize;
        line-height: 1;
        margin-bottom: 5px;
    }

    & input::placeholder {}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:not(:-webkit-autofill, [type="radio"]) {
    background-color: transparent !important;
}

mat-radio-group {
    display: inline-flex;
    gap: 20px;
}

mat-error {
    margin-bottom: 10px;
}

.subtitle-heading {
    margin-bottom: 8px;
    letter-spacing: -0.75px;
    font-weight: 700;
}

section.form>div,
section.form>form {
    margin-bottom: 32px;
}

.btn {
    background-color: rgb(from var(--primary) r g b /0.85);
    color: var(--white);
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: -0.2px;

    &:hover,
    &:active {
        background-color: var(--primary);
    }

    &:focus {
        outline: 2px solid rgb(from var(--black) r g b /0.85);
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn-secondary {
    border-color: var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-size: 90%;
}

.preview-registered-persons-table {

    th {
        text-transform: capitalize;
        padding-inline: 5px;
    }

    tr {
        vertical-align: top;
        border-bottom: 1px solid #000;

        &:not(:first-of-type) {
            line-height: 2;
        }
    }

    tr td {
        text-align: center;
        padding-inline: 5px;
    }
}

.preview-page-button-actions {
    margin-inline: auto;
    max-width: 50vw;
    width: 100%;
}

/* Phone Screen Value from tailwind config */
@media screen and (max-width: 465px) {
    form .row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    form .row .field {
        margin-bottom: 0;
    }

    .progress-bar-container {
        max-width: 100dvw;
    }

    .preview-page-button-actions {
        max-width: 100%;
    }

}