<div class="px-3 py-5 h-full">
  <div
    class="fixed z-10 w-full h-dvh hidden justify-center items-center backdrop-blur-[1px]"
    #loader
  >
    <mat-spinner></mat-spinner>
  </div>

  <section [class.hidden]="scanned()" class="max-md:h-5/6">
    <div class="flex-center justify-center h-full rounded-xl">
      <video
        autoplay
        [playsInline]="true"
        class="w-full h-full max-w-md rounded-2xl"
        #video
      ></video>
    </div>

    <h2 class="text-center mt-5">Scan the qr code on the ticket given!</h2>
  </section>

  <section [class.hidden]="!scanned()">
    @if (persons_details().length > 1) {
    <h2 class="mt-2 mb-3.5">Registered Persons</h2>
    <div class="overflow-x-auto">
      <table>
        <thead>
          <th>sn</th>
          <th>full name</th>
          <th>gender</th>
          <th>age</th>
          <th>origin</th>
          <th>payer's name</th>
          <th>payer's email</th>
          <th>check in</th>
        </thead>
        <tbody>
          @for (person of persons_details(); track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ person.last_name + " " + person.first_name }}</td>
            <td>{{ person.gender }}</td>
            <td>{{ getAge(person.year_of_birth) }}</td>
            <td>{{ person.origin }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>
                <p><mat-slide-toggle [checked]="person.checked_in" (change)="checkPersonIn(person)"></mat-slide-toggle></p>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    
    } @else if (persons_details().length === 1) {
    <article class="flex flex-col justify-center items-center article-container">
      <img src="/user.svg" alt="user icon" class="w-1/3 mb-4" />
      <p>
        Full Name:
        <span>{{
          persons_details()[0].last_name + " " +   persons_details()[0].first_name
        }}</span>
      </p>
      <p>
        Gender: <span>{{ persons_details()[0].gender }}</span>
      </p>
      <p>
        Age: <span>{{ getAge(persons_details()[0].year_of_birth) }}</span>
      </p>
      <p>
        Origin: <span>{{ persons_details()[0].origin }}</span>
      </p>
      <p>
        Payer's Name: <span>{{ persons_details()[0].name }}</span>
      </p>
      <p>
        Payer's Email: <span>{{ persons_details()[0].email }}</span>
      </p>
    </article>
    } @else {
    <article class="flex flex-col justify-center items-center gap-5">
      <img
        src="/nothing.png"
        alt="Icon showing nothing was found"
        class="w-1/2"
      />
      <p class="text-xl text-center">Oops! Registration doesn't exist.</p>
    </article>
    }
  </section>
</div>
