/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
@use '@angular/material' as mat;

:root {
    --primary: #804e49;
    --black: #0a122a;
    --black-tint: #b6b8bf;
    --black-tint-1: #ced0d4;
    --white: #fbfaf8;

    --black-2: rgb(52, 55, 62, 0.9);
    --form-field-placeholder-color: rgb(84, 88, 99, .6);
    --success: #5FC381;
    --error: #DD524D;


    --mat-sys-primary: var(--black);
    --mat-sys-surface-container: var(--white);

    /* Form Fields */
    --mat-option-label-text-color: #000;
    --mat-select-enabled-trigger-text-color: #000;
    --mat-option-selected-state-layer-color: var(--black-tint-1);
    --mat-option-hover-state-layer-color: var(--black-tint-1);

    /* Radio Buttons */
    /* --mat-sys-body-medium-font: "Verdana", sans-serif; */
    --mat-radio-label-text-weight: 400;
    --mdc-radio-state-layer-size: 25px;
    --mdc-radio-selected-icon-color: var(--primary);
    --mdc-radio-selected-focus-icon-color: var(--primary);
    --mdc-radio-unselected-icon-color: var(--primary);
    --mdc-radio-unselected-focus-icon-color: var(--primary);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(from var(--white) r g b /0.6);
}

a {
    color: unset;
    text-decoration: none;
}

input,
button,
dialog {
    outline: none;
    /* border: none; */
}

button {
    cursor: pointer;
    background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.my-flex {
    display: flex;
    align-items: center;
}

.bg-inherit {
    background-color: inherit;
}