/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #fff;
    --orange-1: #FF7B00;
    --orange-4: #FFEECC;
    --orange-5: #F5F3EFCC;
    --black-4: rgb(84, 88, 99, 0.6);
    --black-2: rgb(52, 55, 62, 0.9);
    --form-label-color: rgb(51, 54, 63, 0.8);
    --form-field-background-color: rgba(229, 229, 229, 0.3);
    --form-field-placeholder-color: rgb(84, 88, 99, .6);
    --success: #5FC381;
    --error: #DD524D;
}

:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
}

a {
    color: unset;
    text-decoration: none;
}

input,
button,
dialog {
    outline: none;
    /* border: none; */
}

button {
    cursor: pointer;
    background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.my-flex {
    display: flex;
    align-items: center;
}

.bg-inherit {
    background-color: inherit;
}