/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

:root {
  --primary: #804e49;
  --primary-tint: #b39592;
  --primary-tint-30: #ccb8b6;
  --primary-tint-50: #e6dcdb;
  --black: #0a122a;
  --black-tint: #54596a;
  --black-tint-20: #b6b8bf;
  --black-tint-30: #ced0d4;
  --white: #fbfaf8;

  --black-2: rgb(52, 55, 62, 0.9);
  --form-field-placeholder-color: rgb(84, 88, 99, 0.6);
  --success: #5fc381;
  --error: #de1610;
}

html {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  width: 100vw;
  overflow-x: hidden;
  /* background-color: rgb(from var(--white) r g b /0.6); */
}

/* a {
    color: unset;
    text-decoration: none;
}

input,
button,
dialog {
    outline: none;
    border: none;
}
*/

button {
  cursor: pointer;
  background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-block: 5px 20px;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.2rem;
  margin-block: 5px 12px;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

.flex-center {
  display: flex;
  align-items: center;
}

.bg-inherit {
  background-color: inherit;
}

.bg-primary {
  background-color: var(--primary);
}

.custom-box-shadow {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.row {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;

  .field {
    width: 100%;
  }

  .field > label {
    text-transform: capitalize;
  }
}

.custom-form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.custom-form-input,
.custom-form-select {
  border: 1px solid var(--black-tint-20);
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: rgb(from var(--form-field-placeholder-color) r g b/0.05);

  &.red {
    border-color: var(--error);
  }
}

.custom-form-input::placeholder {
  font-size: 90%;
  color: rgb(from var(--black-2) r g b);
}

.custom-form-input:focus {
  border-color: var(--color-black);
}

.custom-form-select option {
    padding-block: 10px;
}

.my-button {
  --bg-color: hsl(from var(--primary) h s calc(l + 10));

  padding: 8px 16px;
  white-space: nowrap;
  gap: 8px;
  border: 1px solid var(--bg-color);
  border-radius: 0.5rem;
  font-size: 90%;
  background-color: var(--bg-color);
  color: var(--white);
  font-weight: 400;
  text-transform: capitalize;
  transition-property: background-color, outline;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    --bg-color: var(--primary);

    background-color: var(--bg-color);
  }

  &:focus {
    outline: 1px solid #333;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.red {
    background-color: var(--color-red-700);
    border-color: var(--color-red-700);
    color: white;
    font-size: 85%;
    font-weight: 500;
  }

  &.red:hover {
    background-color: hsl(from var(--error) h s calc(l - 10));
  }
}

.my-button.secondary {
  background-color: transparent;
  color: var(--primary);

  &:hover {
    outline: 0.25px solid var(--primary);
  }

  &.red {
    border-color: var(--color-red-700);
    color: var(--color-red-700);
  }

  &.red:hover {
    border-color: var(--color-red-400);
    background-color: var(--color-red-400);
    color: var(--white);
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    font-weight: 500;
    text-transform: capitalize;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    line-height: 1.25;
  }
}

.dialog-responsive {
  width: 80vw;
  max-height: 80vh;
  overflow: auto;
}

@media screen and (max-width: 48rem) {
  .dialog-responsive {
    width: 80vw;
    max-height: 90vh !important;
  }
}

@media screen and (max-width: 40rem) {
  .dialog-responsive {
    width: 100%;
    /* height: 100%; */
    max-width: 95vw !important;
    max-height: 90vh !important;
  }
}
